
/* VIDEO COMPONENTS */
.crop-wrapper  {
  position: absolute;
  width: 70vh;
  left: calc((100% - 70vh)/2);
  top: 20vh;
  height: 60vh;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  transition: .5s ease;
}
.video  {
  position: absolute;
  top:0;
  left: -62%;
  height: 110%;
  border: none;
}
/* ---------------------*/
