@media (max-width: 800px) {

  .Video{
    position: absolute;
    left: 10vw;
    width: 100vw;
    height: 34vw;
    top: 22vh;
  }


}
@media all and (orientation:landscape) {
  .Video{
    position: absolute;
    left: calc(50vw - 25vw);
    width: 50vw;
    height: 34vh;
    top: 30vh;
  }
}
