.Photo  {
  height: 100px;
  width: 100px;
}

.Container  {
  display: flex;
  flex-wrap: wrap;
}





.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  background-image: url("../../../../assets/Background.jpg");
  background-size: cover;
}
.info-button  {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  color: white;
  outline: none;
  z-index: 3;
  background-image: url('../../../../assets/Button1.jpg');
  background-size: 200%;
  cursor: pointer;
  border: 1px solid #363636;
}
.logo {
  width: 192px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 24px;
  left: 24px;
  cursor: pointer;
  background-image: url("../../../../assets/TrikonLogo.jpg");
  background-size: 10%;
  border: none;
  outline: none;

}



.Projects-Label {
  position: absolute;
  left: 230px;
  top: 28px;
  text-align: right;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #d1d1d1;
}

.main {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  top: 100px;
  overflow-y: scroll;

}


.list {
  position: absolute;
  left:0;
  width:100%;
  top: 0;
}
.tile {
  overflow: hidden;
}
.Project_Name {
  font-family: 'Rajdhani', sans-serif;

  z-index: 2;
  position: absolute;
  bottom: 4px;
  left: 4px;
  color: white;
  padding: 0;
  margin: 0;
}
.Main-Still {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}



::-webkit-scrollbar {
  width: 10px;  /* remove scrollbar space */
  margin-left: 2px;
  height: calc(100vh - 110px);
  margin-top: 110px;
  display: block;
  background: transparent;
  z-index: 1;/* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #852731;
  border-radius: 0;
  z-index: 1;
  display: block;

}

.footer {
  position: absolute;
  height: 36px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #1e1e1e;
}
