.Photo  {
  height: 100px;
  width: 100px;
}

.Container  {
  display: flex;
  flex-wrap: wrap;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  background-image: url("../../../../assets/stars.png");
  background-size: cover;
}

.info-button  {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  position: absolute;
  top: 30px;
  right: 24px;
  color: white;
  outline: none;
  z-index: 3;
  background-image: url('../../../../assets/Button1.jpg');
  background-size: 200%;
  cursor: pointer;
  border: 1px solid #363636;
}

.logo {
  width: 192px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 24px;
  cursor: pointer;
  background-image: url("../../../../assets/TrikonLogo.jpg");
  background-size: 10%;
  border: none;
  outline: none;

}

.Projects-Label {
  position: absolute;
  left: 20vw;
  top: 30px;
  text-align: right;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #d1d1d1;
}

.main {
  position: absolute;
  width: 80vw;
  height: calc(100vh - 100px);
  top: 84px;
  left: 20vw;
  overflow-y: scroll;
}
.Status-Tag {
  position: absolute;
  top: 4px;
  right: 4px;
  color: red;
  z-index: 4;
}

.list {
  width:100%;
}
.tile {
  overflow: hidden;
}
.Project_Name {
  font-family: 'Rajdhani', sans-serif;
  z-index: 2;
  position: absolute;
  bottom: 4px;
  left: 4px;
  color: white;
  padding: 0;
  margin: 0;
}
.Project_Type {
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 2px;
  color: white;
  margin: 0;
  background-color: rgba(36, 82, 148, 0.8);
  padding: 4px;
  width: auto;
  white-space: nowrap;
  border-radius: 4px;
}
.Main-Still {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.Type-Title {
   text-align: center;
   font-family: "Rajdhani", sans-serif;
   color: white;
  font-size: 12pt;
   cursor: pointer;
  transition: .3s ease;
 }

.Type-Title:hover {
  transform: translateY(-2px);
  text-shadow: 0 0  20px white;
}

::-webkit-scrollbar {
  width: 10px;  /* remove scrollbar space */
  margin-left: 2px;
  height: calc(100vh - 110px);
  margin-top: 110px;
  display: none;
  background: transparent;
  z-index: 1;/* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #852731;
  border-radius: 0;
  z-index: 1;
  display: block;
}

.header {
  position: absolute;
  height: 14px;
  left: 2px;
  top: 2px;
  z-index: 3;
  text-align: center;
}

.footer {
  position: absolute;
  height: 24px;
  width: 80%;
  left: 10%;
  top: 24px;
  background-color: rgba(105, 31, 41, 1);
  opacity: 0;

}
.dir {
  position: absolute;
  height: 24px;
  width: 80%;
  left: 10%;
  top: 64px;
  background-color: rgba(105, 31, 41, 0);
  color: white;
  text-align: left;
  z-index:4;
  opacity: 0;
}
.DirName {
  opacity: 0;

  text-align: right;
  font-size: 18px;
  font-weight: 100;
  color: white;
   position: absolute;
   height: 24px;
   width: 80%;
   left: 10%;
   top: 72px;
  z-index: 3;
   background-color: rgba(105, 31, 41, 1);
 }



.drawer {
  width: 100%;
  height: 24px;
  padding-top: 2px;
  background-color: rgb(65, 61, 64);
  z-index: 4;
  margin: 0 0 6px 0;
}
.Tabs {
  position: absolute;
  top: 84px;
  right: 28px;
  left: 24px;
  margin :0;
  width: 40%;
  z-index: 5;
  justify-content: flex-start;

}
.tab  {
  cursor: pointer;
  padding:0;
  margin: 0;
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  font-weight: 700;
  height: 48px;
  z-index: 6;
  text-align: left;
}
.label  {
  padding: 6px;
  transition: .3s ease;
}
.label:hover  {
  padding-left: 26px;
  text-shadow: 0 0  20px white;
  color: yellow;
}
