
<div class="background">
  <!-- INFO BUTTON -->
  <button  class="info-button"></button>
  <!-- LOGO -->
  <img class="logo" (click)="navToHome()" src="../../../../assets/TrikonLogo.png" >
  <h4 class="Projects-Label">
    Projects
  </h4>

  <div class="main">
    <mat-grid-list *ngIf="Projects" class="list" [cols]="Col" rowHeight="1:1" gutterSize="6px" [@slideInOut]="Projects.length">



      <mat-grid-tile class="tile" *ngFor="let Project of Projects | hide" (click)="selectProject(Project)" >
        <div class="header">
          <h4 class="Project_Name">
            {{Project.Type}}
          </h4>
        </div>

        <div *ngFor="let Still of Project.Stills; let i = index">
          <img *ngIf="i === 0" src="http://www.trikon.xyz/content/Stills/{{Project.Fullname}}/{{Project.Stills[0].Filename}}" class="Main-Still">
        </div>
        <img *ngIf="!Project.Stills[0]" src="../../../../assets/Placeholder.jpg" class="Main-Still">

        <div class="footer">
          <h4 class="Project_Name">
            {{Project.Name}}
          </h4>
        </div>
      </mat-grid-tile>





    </mat-grid-list>
  </div>


</div>
