@media (max-width: 800px) {

  .text {
    position: absolute;
    width: 90vw ;
    height: 90vw;
    left: 5%;
    top: 15%;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    url('../../../assets/aboutpage.png')
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
  }



  @media (max-height: 900px) and (min-height: 700px) {
    .text {
      height: 40vh;
      width: 100%;
      left: 0;
      top: 20vh;
      overflow-y: scroll;
      padding: 24px;
    }
  }

}

