<div class="row">
  <div class="col-md-3" [routerLink]="'/landing'">
    Landing Page
  </div>
  <hr>
  <div class="col-md-3" [routerLink]="'/artistsearch'">
    Artist Search
  </div>
  <hr>
  <div class="col-md-3" [routerLink]="'/artistprofile'">
    Artist Profile
  </div>
  <hr>
  <div class="col-md-3" [routerLink]="'/projectsearch'">
    Project Search
  </div>
  <hr>
  <div class="col-md-3" [routerLink]="'/projectprofile'">
    Project Profile
  </div>
  <hr>
  <div class="col-md-3" [routerLink]="'/clientsearch'">
    Client Search
  </div>
  <hr>
  <div class="col-md-3" [routerLink]="'/clientprofile'">
    Client Profile
  </div>
  <hr>

</div>
<router-outlet></router-outlet>
