/* COMPONENTS */


.Coming_Soon  {
  font-family: 'Chromatica-Thin', sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #ebf0e3;
  position: absolute;
  left: 0;
}
.contact  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: .3s ;
  /*border: 1px solid rgba(255, 226, 0, 1);*/
}
.whitelogo  {
  position: absolute;
  width: 30%;
  top: 24px;
  left: 35%;
}
.small  {
  font-weight: 300;
  bottom: 10px;
  font-size: 24px;
}
.video  {
  position: absolute;
  width: 70%;
  top: calc(50% - (70%/2.39));
  right: 15%;
}

.about  {
  position: absolute;
  width: calc(100vw);
  bottom: 0;
  z-index: 2;
  height: 100vh;
  transition: .3s;
}

.demo{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: .3s;
  overflow: hidden;
  background-size: cover;
  background: #141414; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #141414 0%, #262626 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #141414 0%,#262626 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #141414 0%,#262626 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* BACKGROUND GRADIENT */
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden !important;
  z-index: 0;
  background-image: url('../../../assets/Background-New.jpg');
  background-position-x: 100%;
  background-size: cover;
  transition: .3s ease;

}


/* DROP DOWN MENU COMPONENTS */
app-sign-in {
  position: absolute;
  top: 24px ;
  right: 24px;
}
    .Tabs {
      position: absolute;
      bottom: 84px;
      right: 28px;
      left: 24px;
      margin :0;
      width: 40%;
      z-index: 6;
      justify-content: flex-start;

    }
        .tab  {
          cursor: pointer;
          padding:0;
          margin: 0;
          color: black;
          font-family: "Rajdhani", sans-serif;
          font-size: 36px;
          font-weight: 700;
          height: 48px;
          z-index: 6;
          text-align: left;
        }
            .label  {
              padding: 6px;
              transition: .3s ease;
            }
            .label:hover  {
              transform: translateX(18%);
              text-shadow: 0 0  20px white;

            }

/*---------------------------- */


/* VIDEO COMPONENTS */
.crop-wrapper  {
  position: absolute;
  width: 70vh;
  left: calc((100vw - 70vh)/2);
  top: 20vh;
  height: 70vh;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
  -webkit-clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
  clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
  transition: .5s ease;
}

/* ---------------------*/


/* TRIANGLE */
.Border {
  position: absolute;
  width: 72vh;
  left: calc((100% - 72vh)/2);
  top: 18.5vh;
  height: 62vh;
  padding: 0;
  z-index: 0;
  overflow: hidden;
  background-color: white;
  opacity: .8;
  -webkit-clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
  clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.18), 0 1px 5px 0 rgba(0,0,0,.18);
}

.Contact-Label  {
  position: absolute;
  top: 24px;
  left: 0;
  font-family: "Futura PT", sans-serif;
  font-size: 48px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FFE200;
  transition: .3s ease;
  cursor: default;
}
.back{
  width: 48px;
  height: 48px;
  position: absolute;
  top: calc(40vh - 24px) ;
  left: calc(50% - 24px);
  transition-delay: 2s;
  transition: .3s ease;
  cursor: pointer;
}



.Logo {
  width: 192px;
  height: 96px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url('../../../assets/LogoBlack.png');
  background-size: contain;
  background-repeat: no-repeat;
}


.Logo1 {
  width: 165px;
  height: 96px;
  position: absolute;
  z-index: 3;
  bottom: -28px;
  left: 28px;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url('../../../assets/LogoBlack.png');
  background-size: contain;
  background-repeat: no-repeat;
}
