@media (max-width: 800px) {
  /* VIDEO COMPONENTS */
  .crop-wrapper {
    position: absolute;
    width: 70vw;
    left: calc((100% - 70vw) / 2);
    top: 10vh;
    height: 70vw;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    background-color: transparent;
    -webkit-clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
    clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
    transition: .5s ease;
  }

  .video {
    position: absolute;
    top: 0;
    left: -50%;
    height: 110%;
    border: none;
  }

  /* ---------------------*/

  .label:hover  {
    transform: translateX(0);
    text-shadow: 0 0  20px white;

  }
  .label  {
    padding: 6px;
    transition: .3s ease;
  }
}
