@media only screen and (max-width: 500px) {

  .Logo {
    width: 90vw;
    height: calc(100vw/5);
    position: absolute;
    z-index: 2;
    top: 24px;
    left: 5vw;
    cursor: pointer;
    background-size: 10%;
    border: none;
    outline: none;

  }

  .Tabs {
    position: absolute;
    bottom: 4px !important;
    left: calc(50% - 100px);
    height: 48px;
    width: 200px;
    z-index:3;
    font-weight: 700;

  }

  .tab  {
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 24px;
    font-weight: 700;
    z-index: 3;
  }



  .info-button  {
    display: none;
  }

  .play-button {
    position: absolute;
    top: 40vh;
    left: 0;
    display: none;
    height: auto;
    width: 100%;
    cursor: pointer;
    z-index: 2;
  }
}
