<!-- BACKGROUND -->
<div class="background">
  <!-- LOGO -->
  <img class="logo" src="../../../assets/TrikonLogo.png">

  <!-- TABS -->
  <div class="Tabs">
    <div class="tab row" routerLink="/projectsearch">
      <h4 class="label">
        Projects
      </h4>
      <div class="Project Jewel" ></div>
    </div>
    <div class="tab row">
      <h4 class="label">
        Management
      </h4>
      <div class="Management Jewel" ></div>

    </div>
    <div class="tab row">
      <h4 class="label">
        About
      </h4>
      <div class="About Jewel" ></div>

    </div>
    <div class="tab row">
      <h4 class="label">
        Contact
      </h4>
      <div class="Contact Jewel" ></div>

    </div>
  </div>


  <!-- CROP WRAPPER -->
  <div class="crop-wrapper">
    <!-- VIDEO -->
    <video  (click)="toggleVideo($event)" #videoPlayer class="video" controls >
      <source src="../../assets/New Cut.mp4" type="video/mp4" />
      Browser not supported
    </video>
  </div>

  <div class="triangle">
  </div>




  <!-- INFO BUTTON -->
  <div  class="info-button"></div>

  <!-- CONTACT -->
  <!--<h3 class="contact">CONTACT@TRIKON.XYZ</h3>-->
</div>
