/* COMPONENTS */

/* BACKGROUND GRADIENT */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  background-image: url("../../../assets/Background.jpg");
  background-size: cover;

}

/* LOGO */
.logo {
  width: 600px;
  height: 150px;
  position: absolute;
  z-index: 2;
  left: calc(50% - 300px);
  top: calc(25% - 60px);
  cursor: pointer;
  background-image: url("../../../assets/TrikonLogo.jpg");
  background-size: 10%;
  border: none;
  outline: none;

}


/* DROP DOWN MENU COMPONENTS */
.info-button  {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 36px;
  width: 42px;
  outline: none;
  z-index: 3;
  cursor: pointer;
  background-image: url("../../../assets/Red-Triangle.png");
  background-size: cover;
  padding: 0;
  margin :0;
}
    .Tabs {
      position: absolute;
      top: calc(35vh);
      right: 28px;
      left: 24.5%;
      margin :0;
      width: 90%;
      z-index: 5;
      justify-content: flex-start;

    }
        .tab  {
          cursor: pointer;
          padding:0;
          margin : 24px 0 24px 0;
          color: white;
          font-family: "Rajdhani", sans-serif;
          font-size: 24px;
          height: 48px;
          justify-content: flex-start;
        }
            .label  {
              padding: 6px;

            }

/*---------------------------- */


/* VIDEO COMPONENTS */
.crop-wrapper  {
  position: absolute;
  padding: 0;
  margin: 0;
  top: calc(45%);
  width: 60%;
  left: 20%;
  height: 70vh;
  z-index: 1;
  overflow: hidden;
}
      .video  {
        width: 100%;
        height: auto;
        position: absolute;
        top: -50px;
        left: 0;
        border: none;
      }
/* ---------------------*/


/* TRIANGLE */

.triangle {
  background-repeat: no-repeat;
  background-image: url("../../../assets/Gray-Triangle.png");
  background-size: contain;
  margin-left: auto ;
  margin-right: auto;
  margin-top: 0;
  width: 110vh;
  height: 110vh;
  z-index: 1;
  opacity: .5;
}


