@media (max-width: 800px) {
  .border {
    position: absolute;
    top: 10vh;
    left:  calc((100% - 60vw)/2);
    border: 2px solid #FFE200 !important;
    height: 60vw;
    width: 60vw;
    border-radius: 30vh;
  }
  .contact-title{
    font-size: 16px;
  }
  .instructions {
    font-size: 14px;
  }
}


@media all and (orientation:landscape) {
  .border {
    position: absolute;
    top: 20vh;
    left:  calc((100% - 60vh)/2);
    border: 2px solid #FFE200 !important;
    height: 60vh;
    width: 60vh;
    border-radius: 30vh;
  }
}
