@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,600,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


button:focus {outline: 0}
input:focus {outline:0}
div:focus {outline: 0}
img:focus {outline: 0}
