<div class="background">
  <!-- TABS -->
  <div class=" Tabs" [@slideInOut]>
    <div class="tab row" >
      <h4 class="label" >
        directors
      </h4>
    </div>
    <div class="tab row" >
      <h4 class="label">
        producers
      </h4>
    </div>
    <div class="tab row" >
      <h4 class="label">
        cinematographers
      </h4>
    </div>
    <div class="tab row">
      <h4 class="label">
        musicians
      </h4>
    </div>
    <div class="tab row">
      <h4 class="label">
        editors
      </h4>
    </div>
    <div class="tab row">
      <h4 class="label">
        animators
      </h4>
    </div>
  </div>
</div>
